.flex {
  display: flex;
  flex-wrap: wrap;
  background: #6b7172;
}

.shopping-card {
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 30px;
}

.product-item {
  padding: 10px;
}

.color {
  /* transition: var(--transition);*/
  background: #6bf1a8d8;
  box-shadow: 3px 5px 5px rgba(161, 161, 149, 0.829);
  margin: 1rem;
  border-radius: 2px;
}

.color:hover {
  box-shadow: 0 30px 30px rgba(131, 143, 104, 0.2);
  transform: scale(1.1);
}

.cart-container {
  margin-top: 20px;
}

.cart-elements {
 
  margin: 20px;
  box-shadow: 3px 5px 5px rgba(161, 161, 149, 0.829);
}
